body {
    height: 100vh;
}

.container {
    height: 100%;
}

tr[data-href] {
	cursor: pointer;
}

.update-post:hover {
	color: dodgerblue;
	cursor: pointer;
}

.delete-post:hover {
	color: red;
	cursor: pointer;
}

#success-modal .modal-dialog, #failure-modal .modal-dialog {
    width: 20rem;
}

#success-modal svg, #failure-modal svg {
    width: 100px;
}

#success-modal .path, #failure-modal .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

#success-modal .path.circle, #failure-modal .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}

#success-modal .path.line, #failure-modal .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.95s 0.35s ease-in-out forwards;
    animation: dash 0.95s 0.35s ease-in-out forwards;
}

#success-modal .path.check, #failure-modal .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards;
    animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100%{
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}