<div class="modal fade "
     id="failure-modal"
     data-bs-backfrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="w-100 text-center">
                    <h5 class="text-center modal-title">Failure</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6"
                                stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle>
                        <line class="path line" fill="none" stroke="#db3646" stroke-width="6"
                              stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9"
                              x2="95.8" y2="92.3"></line>
                        <line class="path line" fill="none" stroke="#db3646" stroke-width="6"
                              stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38"
                              X2="34.4" y2="92.2"></line>
                    </svg>
                    <p class="modal-message mt-3 mb-0"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger w-100" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>