<div class="modal fade"
     id="success-modal"
     data-bs-backfrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="w-100 text-center">
                    <h5 class="text-center modal-title">Success</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#198754" stroke-width="6"
                                stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"></circle>
                        <polyline class="path check" fill="none" stroke="#198754" stroke-width="6"
                                  stroke-linecap="round" stroke-miterlimit="10"
                                  points="100.2,40.2 51.5,88.8 29.8,67.5 "></polyline>
                    </svg>
                    <p class="modal-message mt-3 mb-0"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success w-100" data-bs-dismiss="modal">
                    Okay
                </button>
            </div>
        </div>
    </div>
</div>